@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: Roboto, sans-serif;
    background-color: #eee;
    margin: 0;
}

a {
    text-decoration:none;
}

#header {
    font-weight: bold;
    text-align: center;
    background-color: bisque;
    border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 10px 30px rgba(0,0,0,.1);
    margin: 0px 0px;
    padding: 8px 0px;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 32px;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 33%;
}
.recipe img {
    width: 300px;
    height: 400px;
}

.recipe img:hover{
    transform: scale(1.05);
    transition: all ease ;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(136, 219, 140);
}